* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
}

.app-wrapper {
    width: 800px;
    margin: 0 auto;
    /* border: 1px solid rgba(255, 255, 255, 0.651); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    color: white;
}

h1 {
    color: dodgerblue;
}

form {
    display: flex;
    width: 100%;
}

input {
    padding: 10px;
    margin: 20px 0;
}

input[type="text"] {
    background-color: white;
    flex-grow: 1
}

.result-wrapper {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10px;
    color: white;
}

.result-wrapper>p {
    margin: 10px;
}